.footer{
  height: 61px;
  background-color: #F3F3F3;
  position: relative;
  margin-top:-61px;
}

.copy{
    text-align: center;
    font-family: 'Arial Narrow', arial;
    font-size: 13px;
    color:#5a636b;
    padding-top: 8px;

       
}

.auth{
  display: inline;
  margin-right: 61px;
  position: relative;

}
.auth-img_open{
  position: absolute;
  left: -34px;
  top: -5px

}